{% extends "base.html" %}
<!DOCTYPE html>
{% load staticfiles %}
{% block context %}     
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					在线路由查询 <small>online route</small>
				</h1>
				<div class="row clearfix">
						<div class="col-md-12 column">
							<ul class="breadcrumb">
								<li>
									 <a href="/">Home</a>
								</li>
								<li class="active">
									online_route
								</li>
							</ul>
						</div>
				</div>
			</div>
			<form role="form" method="POST" action="/userquery/online_route/">
				{% csrf_token %}
				<div class="form-group">
					 <label for="number">号码</label><input class="form-control" id="InputMsisdn" type="text" name="number" />
				</div> 
				<div class="form-group">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-info">
							<input type="radio" value="ocs" name="user_type"/> ocs
						</label>
						<label class="btn btn-info">
							<input type="radio" value="cloud" name="user_type"/> cloud
						</label>
					</div>	
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block active" type="submit">执行</button>
				</div>
			</form> 
			<h2>
				执行结果
			</h2>
				<pre> {{ message }} </pre>


		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'jQuery/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock context %}
